@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-button-color: #fafafa;
  --primary-button-background: #8baa36;
  --primary-button-hover-background: #76982b;

  --transparent-button-hover-background: rgba(0, 0, 0, 0.3);

  --disabled-button-background: #d9d9d9;
  --disabled-button-color: #23262a;

  --primary-color: #fafafa;
  --primary-background: #2a2c36;
  --secondary-background: #1e1f28;
  --primary-background-light: #fafafa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-poppins), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
