.button {
  font-size: 14px;
  line-height: 1.2;
  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:not(.rounded) {
    border-radius: 6px;
  }
  @media (min-width: 768px) {
    padding: 22px 44px;
    font-size: 16px;
  }
}

.primary {
  color: var(--primary-button-color);
  background: var(--primary-button-background);
  transition: background-color 250ms ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--primary-button-hover-background);
    }
  }
}

.transparent {
  background: transparent;
  border: 1px solid currentColor;
  transition: background-color 250ms ease, color 250ms ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--transparent-button-hover-background);
    }
  }
}

.green {
  color: var(--primary-button-background);
}

.white {
  color: var(--primary-button-color);
}

.rounded {
  border-radius: 24px 44px;
}

.w100 {
  width: 100%;
}

/* .secondary {
  color: var(--secontary-button-color);
  border: 1px solid var(--secondary-border-color);
  transition: border-color 250ms ease;
}

.secondary:hover {
  border-color: var(--secondary-hover-border-color);
} */
