.backgroundContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.backgroundImage {
  object-fit: cover;
}

.main {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 44px;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .main {
    padding-inline: 35px;
  }
  .logo {
    width: 54px;
    height: 54px;
    margin-bottom: 28px;
  }
  .title {
    font-size: 24px;
    line-height: 24px;
  }
  .buttonsWrapper {
    gap: 12px;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 505px;
  }
  .logo {
    margin-bottom: 44px;
  }
  .title {
    font-size: 28px;
    line-height: 28px;
  }
  .description {
    font-size: 18px;
    line-height: 24px;
  }
  .buttonsWrapper {
    gap: 18px;
  }
}

@media (min-width: 1440px) {
  .main {
    max-width: 540px;
  }
}
